---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/fonts/MyCustomFont.woff2') format('woff2'),
       url('/assets/fonts/MyCustomFont.woff') format('woff'),
       url('/assets/fonts/MyCustomFont.ttf') format('truetype');
}
